fastapi
uvicorn[standard]
prometheus-client
psycopg2-binary
requests
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-psycopg2
pyroscope-io
